/*--------------------------------------------------------------
# Badge
--------------------------------------------------------------*/

.badge {
  cursor: pointer;
}

.badge.active {
  color: #f24810;
}

.badge:hover {
  background-color: #666666 !important;
}